

        .containerTelaInicial {
            // background-color: yellow;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            
            .div {
                width:40vw;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                // background-color: aqua;
                width: 38%;
                color: #205691;

            h1 {
                font-size: 5.5rem;
                
            }

            p {
                font-size: 1.5rem;
            }
            
        }
    }
        

