.containerTelaPerfil{
    height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

    article {
        border: solid #EFEEEA;
        border-radius: 16px;
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    img {
            height: 30vh;
            border-radius: 100%;
            border: solid #00AAFF 5px;

        }
    }
    
}

.cardInf {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;    

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
        
    }

    .paragrafoSobreMim{
        text-align: center;
        width: 80%;
    }
}

address {
    // border: solid red;
    display: flex;
    justify-content: space-between;
    width: 70%;

    p {
        font-size: 0.85rem;

    }
    
}

    .listaInteresses {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        
        li {
            color: #278733;
            font-size: 0.82rem;
            font-weight: 600;
            background-color: #D4E7D6;
            padding: 0.8rem;
            border-radius: 10px;


        }
        
    }

